  body {
            background-color: #262626; 
            
            margin: 0;
            padding: 0;
            
            min-height: 100vh; 
            
            color: white; 
        }
        
        .bg-imdb-black {
            background-color: #191919;
        }

        .imdb-logo {
            background-color: #fcd305;
            color: #000;
            font-weight: 900;
            padding: 2px 8px;
            border-radius: 4px;
            font-size: 1.2rem;
            line-height: 1;
        }
        .search-input {
            border: none;
        }
        .search-input:focus {
            box-shadow: none;
        }
        .nav-link {
            font-weight: 600;
            font-size: 0.9rem;
        }

        .search-container {
            flex-grow: 1;
            max-width: 800px;
        }

        .text-white {
            color: white !important;
        }

        .text-black {
            color: black !important;
        }