  body {
            background-color: #333333; 
            
            margin: 0;
            padding: 0;
            
            /* Assicura che il colore copra tutto lo schermo anche se la pagina è vuota */
            min-height: 100vh; 
            
            color: white; 
        }
        
        .bg-imdb-black {
            background-color: #191919;
        }

        .imdb-logo {
            background-color: #F5DE50;
            color: #000;
            font-weight: 900;
            padding: 2px 8px;
            border-radius: 4px;
            font-size: 1.2rem;
            line-height: 1;
        }
        .search-input {
            border: none;
        }
        .search-input:focus {
            box-shadow: none; /* Rimuove il bordo blu di default */
        }
        .nav-link {
            font-weight: 600; /* Testo leggermente grassetto */
            font-size: 0.9rem;
        }
        /* Rende il form di ricerca flessibile per occupare lo spazio centrale */
        .search-container {
            flex-grow: 1;
            max-width: 800px;
        }

        .text-white {
            color: white !important;
        }

        .text-black {
            color: black !important;
        }