{% extends 'navbar.html' %}

{% block title %}Movies{% endblock %}

{% block content %}
<div class="container mt-4">
    
    <!-- Filter Form -->
    <div class="card mb-4 bg-light">
        <div class="card-header">
           <h2>Filter Movie </h2>
        </div>
        <div class="card-body">
            {% include 'movies/includes/_filter_form.html' %}

        </div>
    </div>

    <!-- Movie list-->
    {% if movies %}
        <div class="row">
            {% for movie in movies %}
                {% include 'movies/includes/_movie_card.html' %}
            {% endfor %}
        </div>

        <!-- Pagination -->
        {% include 'movies/includes/_pagination.html' %}

    {% else %}
        <div class="alert alert-warning" role="alert">
            {% if request.GET.search %}
                <h4 class="alert-heading">No movies found</h4>
                <p>There are no movies with the title "{{ request.GET.search }}" in the catalog.</p>

            {% elif request.GET %}
                <h4 class="alert-heading">No movies found</h4>
                <p>There are no movies that match your search criteria.</p>

            {% else %}
                <h4 class="alert-heading">No movies yet</h4>
                <p>There are no movies in the catalog.
                    {% if user.is_staff or user.groups.filter %}
                    <a href="{% url 'movies:add_movie' %}" class="btn btn-warning fw-bold">Add one now!</a>
                    {% endif %}
                </p>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
