{% extends 'navbar.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container my-5">    
    <div class="mb-5">
        <h2 class="mb-4">
            <i class="bi bi-star-fill text-warning me-2"></i>
            Top Rated Movies of All Time
        </h2>
        
        <div class="card mb-4 bg-light">
          <div class="card-header">
            <h2>Rated movies </h2>
          </div>
          <div class="card-body">
          </div>
        </div>

        {% if top_movies %}
            <div class="row">
                {% for movie in top_movies %}
                    {% include 'movies/includes/movie_card.html'%}
                {% endfor %}
            </div>

            {% include 'movies/includes/_pagination.html' %}
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
              
                <i class="bi bi-info-circle me-2"></i>
                No movies yet.
        {% endif %}
    </div>
</div>

{%  endblock %}