{% extends 'navbar.html' %}

{% block title %} Home {% endblock %}
{% if user.is_authenticated and "ok" in request.POST.login  %}

<div id="info" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Welcome {{user.username}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> La procedura di login è andata a buon fine </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div> 
<script>
  $(document).ready(function(){
      $("#info").modal('show');
  });
</script>

{% endif %}
{% block content %}

<div class="container my-5">    
    <div class="mb-5">
        <h2 class="mb-4">
            <i class="bi bi-star-fill text-warning me-2"></i>
            Top Rated Movies of All Time
        </h2>
        
        <div class="card mb-4 bg-light">
          <div class="card-header">
            <h2>Rated movies </h2>
          </div>
          <div class="card-body">
          </div>
        </div>

        {% if top_movies %}
            <div class="row">
                {% for movie in top_movies %}
                    {% include 'movies/includes/movie_card.html'%}
                {% endfor %}
            </div>

            {% include 'movies/includes/pagination.html' %}
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
              
                <i class="bi bi-info-circle me-2"></i>
                No movies yet.
        {% endif %}
    </div>
</div>

{%  endblock %}